.body{
    background-color: rgb(222, 248, 248);
        display: flex;
    flex-direction: column;
    justify-content: center;
}

.body-content{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content{
        text-align: center;
        padding-top: 50px;
        width: 50%;
        height: auto;
        background-color: rgb(112, 236, 199);
        margin-bottom: 15px;

        .card-title{
            font-size: 16px;
            font-weight: bold;
            color: black;
            margin-bottom: 10px;
            display: flex;
            padding-left: 55px;
        }
    
        .card-body{
            font-size: 18px;
            text-align: center;
            padding-left: 55px;
            padding-right: 55px
        }

    .card-footer{
        font-size: 15px;

        h5{
            padding-left: 65%;
        }
         } 
    }
}
.profile-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.profile-picture img {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
}

    /*
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 50%;
    background-color: #fff;
} */